<%- include('../partials/header') %> 
<table id="list">
    <!-- <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Jersey<br>Number</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody> -->
<% players.forEach(p => { %>
    <%= p.name %> 
    <%= p.country %>
    <%= p.jerseyNo %>
    <%= p.position %>
<% }) %> 
</tbody>
</table>
<%- include('../partials/footer') %> 